@charset "UTF-8";

/* 
==============================
	Bases
==============================
*/

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img {display: block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Poppins-Extralight';
    src: url(../fonts/Poppins-ExtraLight.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'Poppins-Semibold';
    src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
}

:root {
    /* Fonts */
    font-family: 'Poppins-Regular', sans-serif;

    /* Colors */
    --green: #153926;
    --dark-green: #112D1F;
    --beige: #D7CFB9;
    --black: #000000;
    --dark-gray: #444444;
    --mid-gray: #888888;
    --light-gray: #CCCCCC;
    --white: #FFFFFF;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 32px;
    --XL: 40px;
}

.mb-s {margin-bottom: var(--S)}
.mb-m {margin-bottom: var(--M)}

body {margin: 0}
body.home {background-color: var(--green)}

nav.menu {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    top: 16px;
    left: 16px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-color: var(--dark-green);
    background-position: center;
}

.btn {
    display: inline-block;
    width: auto;
    padding: 0 var(--L);
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: var(--M);
    border: 0;
    text-decoration: none;
    border-radius: 60px;
    font-family: 'Poppins-Semibold', sans-serif;
}

.btn-primary {
    background-color: var(--green);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--beige);
    color: var(--green);
}

.container {
    padding: var(--M);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* 
==============================
	Contenido
==============================
*/

h1.home {
    font-size: 40px;
    line-height: 54px;
    color: var(--white);
    font-family: 'Poppins-Extralight', sans-serif;
}

.side {
    display: block;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: #19402B;
}

.hero-image {
    margin: 100px auto 32px auto;
    width: 100%;
    height: auto;
    display: block;
}