.input-group {
	position: relative;
	display: inline-block;
	width: 100%;
}

.input-group.pawcardemail {
	float: left;
	width: 82px;
}

.input-group.pawcardname {
	float: left;
	width: calc(100% - 98px);
}

.input-error {
	display: inline-block;
	width: 100%;
	padding: var(--M) 80px var(--M) var(--M);
	background-color: rgba(211, 47, 47, 0.1);
	color: #D32F2F;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: var(--L);
	background-image: url(../img/icons/input-error.svg);
	background-repeat: no-repeat;
	background-position: right var(--M) top var(--M);
}

.input-group .input-label {
	cursor: pointer;
	font-size: var(--M);
	position: absolute;
	bottom: 24px;
	padding: 0 10px;
	left: 0;
	height: 56px;
	line-height: 56px;
	width: 100%;
	color: #9E957D;
    transition: all 0.3s ease;
}

.input-group.active .input-label {
	cursor: default;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	bottom: auto;
	top: 0;
    transition: all 0.3s ease;
}

input {
	caret-color: var(--black);
}

.input-text, select {
	width: 100%;
	height: 56px;
	line-height: 56px;
	padding: 0 10px;
	border: 0;
	border-radius: 0;
	margin-bottom: var(--L);
	font-size: var(--M);
	color: var(--black);
	border-bottom: 1px solid var(--black);
    font-family: 'Unbounded-Regular', sans-serif;
    outline: none;
	background-color: transparent;
}

.input-text.password {
	background-image: url(../img/icons/pass-hide.svg);
	background-repeat: no-repeat;
	background-position: right 16px center;
}

p.helper-text {
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.6);
	margin: 0 0 var(--L) 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	background-image: url(../img/icons/arrow-dropdown.svg);
	background-repeat: no-repeat;
	background-position: right 16px center;
}

select.teltype {
	width: 130px;
	margin-right: 16px;
	float: left;
}

select.empty {
	color: #9E957D;
}

