@charset "UTF-8";

/* 
==============================
	Bases
==============================
*/

@font-face {
    font-family: 'Unbounded-Light';
    src: url(../fonts/Unbounded-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Regular';
    src: url(../fonts/Unbounded-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Medium';
    src: url(../fonts/Unbounded-Medium.ttf) format(truetype);
}

:root {
    font-family: 'Unbounded-Regular', cursive;

    /* Colors */
    --primary: #D7CFB9;
    --black: #000000;
    --white: #FFFFFF;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 24px;
    --XL: 32px;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

b {
    font-family: 'Unbounded-Medium', cursive;
}

img:focus,
button:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    outline: none;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}

h1 {
    font-size: var(--XL);
    line-height: 36px;
    text-align: center;
    margin: 140px 0 64px 0;
}


p {
    font-size: var(--M);
    line-height: var(--L);
    margin: 0 0 var(--M) 0;
    font-family: 'Unbounded-Light', cursive;
}

p.large {
    font-size: 20px;
    line-height: 28px;
}

body {
    margin: 0;
    background-color: var(--primary);
    overflow-x: hidden;
}

body.home {
    background: linear-gradient(-45deg, #D7CFB9, #D7CFB9, #AEA187, #AEA187, #D7CFB9, #D7CFB9, #AEA187, #AEA187);
    background-size: 400% 400%;
    animation: gradientHome 5s ease infinite;
    height: 100vh;
}

@keyframes gradientHome {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-gradient {
    display: block;
    background-image: url(../img/home-gradient.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/* Wrappers */
.container {
    padding: var(--M);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Headers */
header {
    height: 54px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(215, 207, 185, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
}

header nav.menu {
    width: 54px;
    height: 54px;
    z-index: 2;
    position: relative;
    background-image: url(../img/icons/nav-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header .back {
    display: block;
    width: 54px;
    height: 54px;
    display: block;
    z-index: 2;
    position: relative;
    background-image: url(../img/icons/nav-back.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation */
.nav-overlay {
    height: 100vh;
    width: 100%;
    padding: 16px;
    background-color: rgba(215, 207, 185, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    position: fixed;
    left: 0;
    z-index: 11;
    bottom: -100vh;
    transition: all 0.5s ease;
    overflow: hidden;
}

.nav-overlay.active {
    bottom: 0;
    transition: all 0.5s ease;
}

.nav-overlay .cta {
    position: absolute;
    bottom: 50px;
}

.nav-overlay .cta .btn {
    display: inline-block;
    float: left;
    clear: left;
}

.nav-overlay .close {
    position: fixed;
    top: -300px;
    left: 16px;
    display: block;
    transition: all 1s ease;
    background-repeat: no-repeat;
    background-image: url(../img/icons/overlay-close.svg);
    width: 60px;
    height: 60px;
}

.nav-overlay.active .close {
    top: 16px;
}

.nav-overlay .overlay-content {
    position: absolute;
    width: calc(100% - var(--XL));
    top: 50%;
    margin-top: -25%;
}

.nav-overlay .overlay-content p {
    font-family: 'Unbounded-Regular', cursive;
    font-size: 20px;
    line-height: var(--XL);
    text-align: center;
}

/* Footer */

footer {
    padding: 0;
}

footer ul li {
    list-style: none;
    background-color: #BFB49B;
    margin-bottom: 1px;
}

footer ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    padding: var(--M);
    height: 53px;
    width: 100%;
}

footer ul li a span {
    display: inline-block;
}

footer ul li img {
    display: block;
    float: right;
    margin-left: 4px;
}

/* 
==============================
	Home
==============================
*/

.home h1 {
    font-size: 40px;
    line-height: 54px;
    width: 100%;
    color: var(--black);
    text-align: left;
    margin: 0  0 var(--XL) 0;
}

@media only screen and (min-width: 300px) and (max-width: 336px) {

    .home h1 {
        font-size: 36px;
        line-height: 48px;
    }

}

.home .hero-image {
    position: relative;
}

.home .hero-image .hero {
    margin: 100px auto 50px auto;
    width: calc(100% - 64px);
    max-width: 460px;
    height: auto;
    display: block;
}

.home .btn.start {
    padding-right: 62px;
    margin-bottom: 56px;
    background-repeat: no-repeat;
    background-position: center right 30px;
    background-image: url(../img/icons/arrow-start.svg);
}

/* 
==============================
    Dashboard
==============================
*/

.dashboard-menu-container {
    width: calc(100% + 16px);
    overflow-x: auto; 
}

.dashboard-menu {
    list-style: none;
    width: calc(100% + 58px);
    display: block;
    height: 310px;
    overflow-x: auto;
    padding-left: var(--L);
}

.dashboard-menu li {
    float: left;
    height: 310px;
    line-height: 310px;
    width: 170px;
    margin-right: var(--L);
    background-color: rgba(225, 220, 207, 0.5);
    text-align: center;
    border-radius: 110px;
    font-family: 'Unbounded-Medium', cursive;
}

.dashboard-menu li .menu-text {
    line-height: 26px;
    display: inline-block;
}

