@charset "UTF-8";

/* 
==============================
	Bases
==============================
*/

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Fonts invoke */
@font-face {
    font-family: 'Unbounded-Regular';
    src: url(../fonts/Unbounded-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Medium';
    src: url(../fonts/Unbounded-Medium.ttf) format(truetype);
}

:root {
    /* Font definition */
    font-family: 'Unbounded-Regular', cursive;

    /* Colors */
    --beige: #D7CFB9;
    --black: #000000;
    --white: #FFFFFF;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 32px;
    --XL: 40px;
}

body {margin: 0}

body.home {
    background-color: var(--beige);
    background: linear-gradient(-45deg, #D7CFB9, #D7CFB9, #AEA187, #AEA187, #D7CFB9, #D7CFB9, #AEA187, #AEA187);
    background-size: 400% 400%;
    animation: gradientHome 5s ease infinite;
    height: 100vh;
}

@keyframes gradientHome {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Buttons */

.btn {
    display: inline-block;
    width: auto;
    padding: 0 var(--L);
    height: 60px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    font-size: var(--M);
    border: 0;
    text-decoration: none;
    font-family: 'Unbounded-Medium', cursive;
}

.btn-primary {
    background-color: var(--black);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--beige);
    color: var(--green);
}

/* Wrappers */

.container {
    padding: var(--M);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Headers */

header {
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(215, 207, 185, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
}

.home-gradient {
    display: block;
    background-image: url(../img/home-gradient.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

header nav.menu {
    width: 54px;
    height: 54px;
    z-index: 2;
    position: relative;
    background-image: url(../img/icons/nav-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation */

nav.menu.active {
    background-image: url(../img/icons/nav-close.svg);
}

/* Footer */

footer {
    padding: 0;
    background-color: #BFB49B;
}

footer ul li {
    list-style: none;
    border-bottom: 1px solid var(--beige);
}

footer ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    padding: var(--M);
    height: 53px;
}

footer ul li img {
    display: block;
    float: right;
    margin-left: 4px;
}

/* 
==============================
	Home
==============================
*/

.home h1 {
    font-size: 40px;
    line-height: 54px;
    width: calc(100% - 30px);
    color: var(--black);
    text-align: left;
    margin-bottom: var(--L);
}

.home .hero-image {
    margin: 100px auto 50px auto;
    width: 100%;
    height: auto;
    display: block;
}

.home .btn.start {
    padding-right: 62px;
    margin-bottom: 56px;
    background-repeat: no-repeat;
    background-position: center right 30px;
    background-image: url(../img/icons/arrow-start.svg);
}




@import "helpers.css";