@charset "UTF-8";


/* 

    INDEX
    --------------------------

    1. Bases
        Wrappers
        Headers
        Overlay
        Modal
        Footer

    2. Home
        Slider

*/




/* 
	1. Bases
==============================
*/

@font-face {
    font-family: 'Unbounded-Light';
    src: url(../fonts/Unbounded-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Regular';
    src: url(../fonts/Unbounded-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Medium';
    src: url(../fonts/Unbounded-Medium.ttf) format(truetype);
}

:root {
    font-family: 'Unbounded-Regular', sans-serif;

    /* Colors */
    --primary: rgba(219, 208, 185, 1);
    --black: #000000;
    --white: #FFFFFF;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 24px;
    --XL: 32px;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    cursor: pointer;
}

b {
    font-family: 'Unbounded-Medium', sans-serif;
}

.light {
    font-family: 'Unbounded-Light', sans-serif;
}

img:focus,
button:focus {
    outline: none;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

fieldset {
    border:0;
    box-shadow: 0;
    outline: none;
}

fieldset input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

h1 {
    font-size: var(--XL);
    line-height: 36px;
    text-align: center;
    margin: 140px 0 64px 0;
}

h1.inner {
    margin-top: 120px;
}

p {
    font-size: var(--M);
    line-height: var(--L);
    margin: 0 0 var(--M) 0;
    font-family: 'Unbounded-Light', sans-serif;
}

p.large {
    font-size: 20px;
    line-height: 28px;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;
    background: linear-gradient(144deg, rgba(219,208,185,1) 41%, rgba(194,185,160,1) 100%);
    background-attachment: fixed;
}

body.background-plain {
    background: var(--primary);
}

/* 
    Wrappers
    --------
*/

.container {
    padding: var(--M);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* 
    Headers
    -------
*/

header {
    height: 54px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(219, 208, 185, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
}

header nav.menu {
    cursor: pointer;
    width: 54px;
    height: 54px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    background-image: url(../img/icons/nav-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

header .back {
    display: block;
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: block;
    z-index: 2;
    position: relative;
    background-image: url(../img/icons/nav-back.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

/*
    Overlay
    -------
*/

.nav-overlay {
    height: 100%;
    width: 100%;
    padding: 16px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    position: fixed;
    left: 0;
    z-index: 11;
    bottom: -100vh;
    transition: all 0.5s ease;
    overflow: hidden;
}

.nav-overlay.active {
    bottom: 0;
    background-color: rgba(219, 208, 185, 0.8);
    transition: all 0.5s ease;
}

.nav-overlay .cta {
    position: absolute;
    bottom: 50px;
}

.nav-overlay .cta .btn {
    display: inline-block;
    float: left;
    clear: left;
}

.nav-overlay .close {
    position: fixed;
    z-index: 2;
    top: -300px;
    left: 16px;
    display: block;
    cursor: pointer;
    transition: all 1s ease;
    background-repeat: no-repeat;
    background-image: url(../img/icons/close-white_bg.svg);
    width: 60px;
    height: 60px;
}

.nav-overlay.active .close {
    top: 16px;
}

.nav-overlay .overlay-content {
    position: absolute;
    width: calc(100% - var(--XL));
    top: 50%;
    margin-top: -25%;
    max-width: 600px;
}

.nav-overlay .overlay-content p {
    font-family: 'Unbounded-Regular', sans-serif;
    font-size: 20px;
    line-height: var(--XL);
    text-align: center;
}

/* 
    Modal
    ------
*/

.modal.active {
    background-color: rgba(205, 196, 172, 0.9);
}

.modal .overlay-content {
    position: relative;
    width: 100%;
    background-color: var(--primary);
    border-radius: 40px;
    margin: 0 auto;
    top: 132px;
    z-index: 1;
    padding: var(--M) var(--M) var(--XL) var(--M);
    min-height: 400px;
    max-height: 90vh;
    overflow-y: auto;
    border-top: 36px solid var(--primary);
    border-bottom: 36px solid var(--primary);
}

.modal.active .overlay-content.scrolled {
    top: 32px;
}

.modal.active .overlay-content h1 {
    margin-top: 60px;
    margin-bottom: 32px;
    transition: all 600ms ease 200ms;
}

.modal .overlay-content h1 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 110px;
    margin-bottom: 60px;
    text-align: center;
}

.modal .overlay-content h1.small {
    font-size: 26px;
    line-height: 32px;
    margin-top: 60px;
}

.modal .overlay-content p {
    text-align: left;
}

.modal .overlay-content p.small {
    font-size: 16px;
    line-height: 24px;
}

.modal .cta {
    bottom: -56px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* 
    Overlay - Menu
    --------------
*/

.nav-overlay .menu {
    list-style: none;
    margin-top: 300px;
    transition: all 900ms ease 300ms;
}

.nav-overlay.active .menu {
    margin-top: 260px;
}

.nav-overlay .menu li {
    position: relative;
    opacity: 1;
}

.nav-overlay .menu li a {
    font-family: 'Unbounded-Medium', sans-serif;
    display: block;
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 60px;
    text-decoration: none;
    color: var(--black);
    transition: all 600ms ease 300ms;
}

.nav-overlay.active .menu li a {
    margin-bottom: 40px;
}

.nav-overlay.active .menu li.active {
    opacity: 0.4;
}

/* 
    Footer
    ------
*/

footer {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

footer ul li {
    list-style: none;
    background-color: var(--black);
    margin-bottom: 2px;
}

footer ul li:first-child {
    padding-top: var(--S);
}

footer ul li:last-child {
    padding-bottom: var(--XL);
}

footer ul li a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    padding: 0 var(--M);
    height: 60px;
    line-height: 60px;
    width: 100%;
}

footer ul li a span {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

footer ul li a span .icon {
    display: block;
    float: right;
    margin: 20px 0 0 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

footer ul li a span .arrow-next {
    background-image: url(../img/icons/arrow-next.svg);
}

footer ul li a span .open-ext {
    background-image: url(../img/icons/open-ext.svg);
}

/* 
    2. Home
==============================
*/

.home-gradient {
    display: block;
    background-image: url(../img/home/home-gradient.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.home h1 {
    font-size: 50px;
    line-height: 64px;
    width: 100%;
    color: var(--black);
    text-align: left;
    margin: 0  0 46px 0;
}

@media only screen and (min-width: 0px) and (max-width: 379px) {
    .home h1 {
        font-size: 32px;
        line-height: 46px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 500px) {
    .home h1 {
        font-size: 36px;
        line-height: 48px;
    }
}

.home h1 .pawcard {
    display: inline-block;
    position: relative;
    margin-right: var(--L);
}

.home h1 sup {
    top: var(--S);
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    overflow: hidden;
    text-indent: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/reg.svg);
}

.home .hero-image {
    position: relative;
}

.home .hero-image .hero {
    margin: 100px auto var(--XL) auto;
    width: 100%;
    max-width: 460px;
    height: auto;
    display: block;
}

.home .btn.start {
    padding-right: 62px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center right 30px;
    background-image: url(../img/icons/arrow-start_white.svg);
    transition: ease-out 0.3s;
}

/*
    Slider
    ------
*/

.slider {
    display: grid;
    margin: var(--XL) auto;
}

.slider .slide {
    float: left;
    width: 330px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.slider .slide-image {
    margin: 0;
    display: inline-block;
}

.slider .slide-gratis {
    position: absolute;
    left: 6px;
    top: -32px;
    animation: spin 4s linear infinite;
}

.slider .slide-details {
    font-size: 18px;
    line-height: 26px;
    color: #6B675C;
    margin-bottom: var(--L);
    font-family: 'Unbounded-Medium', sans-serif;
}

/* 
==============================
    Bubbles
==============================
*/

.bubble-container {
    overflow-x: auto;
    width: 100%;
}

.bubble-container .bubble-list {
    list-style: none;
    width: fit-content;
    display: grid;
    height: 310px;
    padding: 0 60px;
    overflow-y: hidden;
    margin: 0 auto;
    grid-auto-flow: column;
    grid-column-gap: var(--L);
}

.bubble-container .bubble-list .item {
    float: left;
    cursor: pointer;
    position: relative;
    height: 310px;
    width: 210px;
    line-height: 310px;
    margin-bottom: 60px;
    border-radius: 170px;
    background-color: rgba(225, 220, 207, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bubble-container .bubble-list .item input {
    cursor: pointer;
}

.bubble-container .bubble-list .item a {
    float: left;
    height: 310px;
    line-height: 310px;
    width: 210px;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    border-radius: 110px;
    font-family: 'Unbounded-Medium', sans-serif;
    font-size: 20px;
}

.bubble-container .bubble-list .open-new-pawcard {
    height: 220px;
    width: 150px;
    background-image: url(../img/pawcard/icon-add-pawcard.svg);
    background-size: 44px;
}

#new-pawcard img {
    margin: var(--L) auto 0 auto;
    display: block;
}

.bubble-container .bubble-list .pet {
    background-color: transparent;
    width: 150px;
    padding: 4px;
}

.bubble-container .bubble-list .pet a {
    background-color: black;
    width: 140px;
    height: 140px;
    border-radius: 140px;
    line-height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 4px #C8BFA4;
    border: 10px solid var(--primary);
}

/*
    Texto dentro
    ------------
*/

.bubble-container .bubble-list .item .two-lines {
    line-height: 336px;
}

.bubble-container .bubble-list .item .two-lines .menu-text {
    line-height: 26px;
    display: inline-block;
}

/*
    Elegir tipo
    -----------
*/

.bubble-container .bubble-list .type-dog {
    background-image: url(../img/pawcard/pc-dog.jpg);
}

.bubble-container .bubble-list .type-cat {
    background-image: url(../img/pawcard/pc-cat.jpg);
}

/*
    Elegir tamaño
    -------------
*/

.bubble-container .size-selector {
    height: 360px;
}

.bubble-container .size-selector .item .description {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: -50px;
    color: rgba(0, 0, 0, 0.4);
}

.bubble-container .bubble-list .size-small {
    background-image: url(../img/pawcard/pc-small.jpg);
}

.bubble-container .bubble-list .size-med {
    background-image: url(../img/pawcard/pc-med.jpg);
}

.bubble-container .bubble-list .size-big {
    background-image: url(../img/pawcard/pc-big.jpg);
}

/* 
==============================
    Upload photo
==============================
*/

.photo-image {
    position: relative;
    margin: 60px auto 40px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.photo-image .photo-placeholder,
.photo-image .photo {
    width: calc(100% - 32px);
    max-width: 400px;
    height: auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/pawcard/photo/photo-background.png);
    animation: spin 6s linear infinite;
}

.photo-image .photo {
    position: absolute;
    background-image: url(../img/pawcard/photo/photo-image.png);
    animation: none;
    z-index: 1;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* 
==============================
    PawCard creation success
==============================
*/

.uploaded-mask {
    width: 330px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    margin-bottom: var(--L);
}

.uploaded-mask span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.uploaded-mask .photo {
    z-index: 2;
    width: 300px;
    height: 300px;
    margin: var(--M) 0 0 var(--M);
    clip-path: circle(140px at center);
    background-size: cover;
}

.uploaded-mask .photo-border {
    z-index: 1;
    width: 316px;
    height: 316px;
    margin: 8px;
    border: 5px solid #C8BFA4;
    border-radius: 100%;
}

/* 
==============================
    PawCard
==============================
*/

.pawcard .uploaded-mask {
    margin-top: 36px;
}

.pawcard .pet-name {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Unbounded-Medium', sans-serif;
    text-align: center;
    margin: var(--L) 0;
    color: #777264;
}

.pawcard .info-container,
.pawcard .contact-phone {
    border: 2px solid #9C9681;
    border-radius: 20px 20px 0 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Unbounded-Medium', sans-serif;
}

.pawcard .contact-phone {
    border-radius: 0 0 20px 20px;
    border-top: 0;
    padding: 16px;
}

.pawcard .info-container .pet-age,
.pawcard .info-container .contact-department {
    height: 90px;
    padding: 20px;
    display: inline-block;
    border-right: 2px solid #9C9681;
}

.pawcard .info-container .contact-department {
    border-right: 0;
}

.pawcard .info-container .pet-age label,
.pawcard .info-container .contact-department label {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    display: inline-block;
    color: #9C9681;
}

.pawcard .info-container .pet-age p,
.pawcard .info-container .contact-department p {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    color: #777264;
    font-family: 'Unbounded-Medium', sans-serif;
}

.uploaded-mask .open-qr-details {
    position: absolute;
    z-index: 3;
    top: var(--XL);
    right: 5px;
    cursor: pointer;
}

.qr-container {
    background-color: var(--white);
    width: 250px;
    height: 250px;
    border-radius: var(--L);
    margin: 0 auto;
}

/*
    Contact
    -------
*/

.contact-user-container {
    position: fixed;
    z-index: 4;
    bottom: -100%;
    height: 450px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: rgba(219, 208, 185, 0.7);
    box-shadow: 0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    -o-backdrop-filter: blur(50px);
    -moz-backdrop-filter: blur(50px);
    transition: all 0.5s ease;
}

.contact-user-container.active {
    bottom: 0;
    box-shadow: 0px -5px 20px -15px rgb(0 0 0 / 30%);
}

.contact-user-container .header {
    position: relative;
    text-align: left;
    transition: all 400ms ease 380ms;
}

.contact-user-container .header .text-container {
    margin: var(--S) var(--L) 0 var(--L);
    float: left;
    width: 100%;
}

.contact-user-container .header .close {
    margin: 16px 16px 0 0;
    right: 16px;
    display: block;
    float: right;
    cursor: pointer;
    transition: all 1s ease;
    background-repeat: no-repeat;
    background-image: url(../img/icons/close-beige_bg.svg);
    width: 60px;
    height: 60px;
    transition: all 400ms ease;
}

.contact-user-container .header .close:hover {
        background-image: url(../img/icons/close-white_bg.svg);
}

.contact-user-container p {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 8px 0;
    font-family: 'Unbounded-Regular', sans-serif;
}

.contact-user-container h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-family: 'Unbounded-Medium', sans-serif;
}

.contact-user-container .contact-cta {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: all 600ms ease 200ms;
}

.contact-user-container.active .contact-cta {
    bottom: 40px;
}

.contact-user-container .item {
    width: 160px;
    height: 200px;
    line-height: 240px;
    display: block;
    border-radius: 110px;
    text-align: center;
    float: left;
    background-color: #867F6E;
    transition: all 600ms ease 300ms;
}

.contact-user-container .item:focus,
.contact-user-container .item:active {
    background-color: var(--black);
}

.contact-user-container .item.call {
    margin-right: 16px;
}


/* 
==============================
    Responsive
==============================
*/

@media only screen and (min-width: 1000px) {

    html {
        background-color: #CAC3AE;
        overflow: hidden;
    }

    body {
        margin: 40px auto;
        overflow-y: scroll;
        height: calc(100vh - 80px);
        position: relative;
        padding-top: 110px;
        border-radius: 40px;
        max-width: calc(100% - 360px);
        background: var(--primary);
        background-attachment: local;
    }

    h1,
    h1.inner {
        margin-top: 70px;
    }

    /* 
        Wrappers
        --------
    */

    .container {
        max-width: 1000px;
    }

    .container.mw-500 {
        max-width: 500px;
    }


    /* 
        Headers
        -------
    */

    header {
        width: calc(100% - 360px);
        height: 90px;
        padding: 30px 40px 10px 40px;
        top: 40px;
        left: auto;
        border-radius: 40px 40px 0 0;
    }

    /*
        Overlay
        -------
    */

    .nav-overlay {
        height: calc(100vh - 80px);
        width: calc(100% - 360px);
        left: auto;
        padding: 40px;
        border-radius: 40px;
    }

    .nav-overlay.active {
        bottom: 40px;
    }

    .nav-overlay .close {
        left: 40px;
    }

    .nav-overlay.active .close {
        top: 40px;
    }

    /* 
        Overlay - Menu
        --------------
    */

    .nav-overlay .menu,
    .nav-overlay.active .menu {
        margin-top: 200px;
    }

    .nav-overlay .menu li a {
        text-align: center;
        font-size: 50px;
        line-height: 64px;
    }

    /* 
        Modal
        ------
    */

    .modal,
    .modal.active {
        background-color: var(--primary);
    }

    .modal .overlay-content {
        top: 0;
    }

    /* 
        2. Home
    ==============================
    */

    .home {
        padding-top: 100px;
    }

    .home .hero-image {
        float: none;
        margin-bottom: 0;
    }

    .home .hero-image .hero {
        width: 350px;
        margin: 0 auto;
    }

    .home-text {
        width: 490px;
        margin: 0 auto;
    }

    .slider {
        width: 100%;
    }

    /*
        Contact
        -------
    */

    .contact-user-container {
        max-width: calc(100% - 360px);
    }
}

/* 
    Ajustes Home 
*/

@media only screen and (min-width: 1400px) {
    .home {
        padding-top: 200px;
    }

    .home .hero-image {
        float: left;
        margin-bottom: 60px;
    }

    .home .hero-image .hero {
        width: 350px;
        margin: 0;
    }

    .home-text {
        margin-left: 50px;
        float: left;
    }
}
