<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Validación: PawCard</title>
        <meta name="application-name" content="PawCard">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../static/img/favicon/icon_mediumtile.png">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/forms.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
        <link rel="manifest" href="../../static/manifest.json">
    </head>

    <body>

       <div class="container mw-500">
            <h1 class="inner m-l">Te enviamos <br>un código</h1>

            <div class="text-center">
                <p>
                    Ya podés revisar tu correo para ingresar el <b>código</b> de validación. 
                </p>

                <div class="verification-codes">
                    <input class="input-code" type="tel" maxlength="1" name="val1" id="val1">
                    <input class="input-code" type="tel" maxlength="1" name="val2" id="val2">
                    <input class="input-code" type="tel" maxlength="1" name="val3" id="val3">
                    <input class="input-code" type="tel" maxlength="1" name="val4" id="val4">
                </div>

                <a class="btn btn-primary" href="crear-cuenta-resultado.html" target="_self" title="Verificar">Verificar código</a>
                <span class="btn btn-link mt-s">Reenviar código</span>
            </div>
       </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>

        <script type="text/javascript">
            $('.input-code').keyup(function () {
                if (this.value.length == this.maxLength) {
                  $(this).next('input').focus();
                } else {
                    $(this).prev('input').focus();
                }
            });
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD3NY9BFK9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YD3NY9BFK9');
        </script>
    </body>

</html>