<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresar</title>
        <meta name="application-name" content="Caracol">

        <link rel="stylesheet" type="text/css" href="../../static/css/_styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">
    </head>

    <body>
        <header>
            <a class="back" href="../../index.html" target="_self" title="Atrás"></a>
        </header>

        <h1>Ingresar</h1>
    </body>

</html>