<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis PawCards: PawCard</title>
        <meta name="application-name" content="PawCard">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../../static/img/favicon/icon_mediumtile.png">

        <link rel="stylesheet" type="text/css" href="../../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/forms.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body>
        
        <!-- Comprar PawCard -->
        <section id="new-pawcard" class="nav-overlay modal">
            <span class="close" title="Cerrar"></span>

            <div class="overlay-content scrolled">
                <h1>Nueva<br> PawCard</h1>

                <p class="small text-center m-0">
                    Adquirí tu nueva PawCard.
                </p>

                <img src="../../../static/img/pawcard/new-pawcard.png" alt="Avatars de mascotas">
            </div>

            <div class="cta">
                <a class="btn btn-primary" href="../../../index.html">Comprar por $1.500</a>
            </div>
        </section>

        <header>
            <a class="back step-size" href="../dashboard.html" target="_self" title="Atrás"></a>
        </header>

        <div class="container fullheight">
            <h1>Mis PawCards</h1>

            <div class="bubble-container">
                <ul class="bubble-list pl-0 pr-0">
                    <li class="item pet">
                        <a href="pawcard-preview.html" target="_self" style="background-image: url(https://images.unsplash.com/photo-1530041686259-53d26f863313?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1638&q=80)">
                            Elliot
                        </a>
                    </li>

                    
                    <li class="item open-new-pawcard">
                        <span class="hidden">Agregar nueva pawcard</span>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
            <ul>
                <li>
                    <a href="#" target="_self">
                        <span>
                            Privacidad <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="views/legal/terminos.html" target="_self">
                        <span>
                            Términos y condiciones <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" target="_self">
                        <span>
                            Uso de cookies <span class="icon open-ext"></span>
                        </span>
                    </a>
                </li>

                 <li>
                    <a href="#" target="_self">
                        <span>
                            Reportar un problema <span class="icon open-ext"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>

        <script type="text/javascript" src="../../../static/js/jquery-3.6.0.min.js"></script>

         <script type="text/javascript">
            $(function() {
                $('#home-menu').click(function(){
                    $('.nav-overlay').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                });

                $('.open-new-pawcard').click(function(){
                    $('#new-pawcard').addClass('active');
                })
            });
        </script>
    </body>

</html>