<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elliot: PawCard</title>
        <meta name="application-name" content="PawCard">

        <link rel="stylesheet" type="text/css" href="../../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/forms.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/helpers.css">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../../static/img/favicon/icon_mediumtile.png">

        <meta name="theme-color" content="E8DCC4">
    </head>

    <body class="pawcard">
        <nav id="home-menu" class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <ul class="menu">
                <li>
                    <a href="../../../index.html" title="Inicio" target="_self">Inicio</a>
                </li>

                <li>
                    <a href="../dashboard.html" title="Tablero" target="_self">Tablero</a>
                </li>

                <li>
                    <a href="mis-pawcards.html" title="PawCards" target="_self">PawCards</a>
                </li>

                <li>
                    <a href="../ajustes/ajustes.html" title="Ajustes" target="_self">Ajustes</a>
                </li>

                <li>
                    <a href="../../../index.html" title="Salir" target="_self">Salir</a>
                </li>
            </ul>            
        </nav>

        <!-- Código QR -->
        <section id="qr-details" class="nav-overlay modal">
            <span class="close" title="Cerrar"></span>

            <div class="overlay-content scrolled">
                <h1>Compartir</h1>

                <div class="qr-container text-center">
                    <img src="../../../static/img/pawcard/qr.jpg" alt="Imagen de código QR" width="190" height="190">
                </div>

                <p>Escaneá el QR o descargá el <br>PDF imprimible.</p>
                <a class="btn btn-primary" href="#" title="Descargar PDF">Descargar PDF</a>
            </div>
        </section>

        <header>
            <nav class="menu open-home-menu"></nav>
        </header>

        <div class="container mw-500">
            <div class="uploaded-mask">

                <img class="open-qr-details" src="../../../static/img/pawcard/icon-qr.svg" title="Ver código QR" alt="Ver código QR">

                <span class="photo" style="background-image: url(https://images.unsplash.com/photo-1530041686259-53d26f863313?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1638&q=80)"></span>
                <span class="photo-border"></span>
            </div>

            <h1 class="pet-name">Elliot</h1>

            <div class="info-container">
                <div class="pet-age pl-0">
                    <label>Edad</label>
                    <p><span>5</span> años</p>
                </div>

                <div class="contact-department pr-0">
                    <label>Vive en</label>
                    <p>Godoy Cruz</p>
                </div>
            </div>

            <div class="contact-phone m-l">
                <a class="btn btn-primary fullwidth" href="crear/pawcard-crear.html">Modificar</a>

                 <span class="block text-center mt-s m-s">
                    <a class="btn btn-link" href="pawcard-publica.html" title="Abrir vista previa" target="_self">Vista previa</a>
                </span>
            </div>

            <button class="btn alert m-xl">Alertar extravío</button>

        </div>


        <section class="contact-user-container">
            
        </section>

        <script type="text/javascript" src="../../../static/js/jquery-3.6.0.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $(document).click(function(event) {
                    if (!$(event.target).closest(".contact-user-container, #contact-user").length) {
                        $('.contact-user-container').removeClass('active');
                    }
                });

                $('.open-home-menu').click(function(){
                    $('#home-menu').addClass('active');
                });

                $('.open-qr-details').click(function(){
                    $('#qr-details').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                })
            });
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD3NY9BFK9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YD3NY9BFK9');
        </script>
    </body>

</html>