<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajustes: PawCard</title>
        <meta name="application-name" content="PawCard">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../../static/img/favicon/icon_mediumtile.png">

        <link rel="stylesheet" type="text/css" href="../../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
        <link rel="manifest" href="../../../static/manifest.json">
    </head>

    <body>
        <nav class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <div class="cta">
                <a class="btn btn-primary" href="../../../index.html" target="_self" title="Cerrar sesión">Cerrar sesión</a>
            </div>
        </nav>

        <header>
            <a class="back step-size" href="../dashboard.html" target="_self" title="Atrás"></a>
        </header>

        <div class="fullheight">
            <h1>Ajustes</h1>

            <div class="bubble-container">
                <ul class="bubble-list">
                    <li class="item">
                        <a class="two-lines" href="cambiar-contrasena.html" target="_self">
                            <span class="menu-text">
                                Cambiar
                                <span class="block">
                                    contraseña
                                </span>
                            </span>
                        </a>
                    </li>

                    <li class="hidden">
                        <a class="two-lines" href="#" target="_self">
                            <span class="menu-text">
                                Historial
                                <span class="block">
                                    de compras
                                </span>
                            </span>
                        </a>
                    </li>

                    <li class="item">
                        <a class="two-lines" href="#" target="_self">
                            <span class="menu-text">
                                Cerrar
                                <span class="block">
                                    sesión
                                </span>
                            </span>
                        </a>
                    </li>

                    <li class="item">
                        <a class="two-lines" href="#" target="_self">
                            <span class="menu-text">
                                Eliminar
                                <span class="block">
                                    cuenta
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
            <ul>
                <li>
                    <a href="#" target="_self">
                        <span>
                            Privacidad <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="views/legal/terminos.html" target="_self">
                        <span>
                            Términos y condiciones <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                 <li>
                    <a href="#" target="_self">
                        <span>
                            Reportar un problema <span class="icon open-ext"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>

        <script type="text/javascript" src="../../../static/js/jquery-3.6.0.min.js"></script>

         <script type="text/javascript">
            $(function() {
                $('#home-menu').click(function(){
                    $('.nav-overlay').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                })
            });
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD3NY9BFK9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YD3NY9BFK9');
        </script>
    </body>

</html>