<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear cuenta: Piur</title>
        <meta name="application-name" content="Caracol">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">
    </head>

    <body>

       <div class="container">
            <h1>¡Listo!</h1>

            <div class="text-center">
                <p class="large">
                    Enviamos el <b>link</b> para validar la cuenta a tu email. 
                </p>

                <p class="large">
                    El link va a estar activo por los próximos <b>15 minutos</b>.
                </p>

                <span class="block mt-xl">
                    <a class="btn btn-primary m-m" href="../../index.html" target="_self" title="Ir al home">Ir al home</a>
                </span>

                <a class="btn btn-secondary" href="ingresar.html" target="_self" title="Ingresar">Ingresar</a>
            </div>
       </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>
    </body>

</html>