<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Términos y condiciones: Piur</title>
        <meta name="application-name" content="Piur">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body>
        <nav class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <div class="overlay-content">
                <p class="m-0">Estás por salir del registro. ¿Querés cancelar?</p>
            </div>

            <div class="cta">
                <a class="btn btn-secondary m-m" href="../../index.html" target="_self" title="Ingresar">Cancelar y salir</a>
                <button class="btn btn-primary" type="button">Volver al registro</button>
            </div>
        </nav>


        <header>
            <span class="back" title="Atrás"></span>
        </header>

        <div class="container">
            <h1>Términos y condiciones</h1>

            <p>
                Este acuerdo, tal como su nombre lo indica, describe los Términos y Condiciones Generales que regirán la utilización de los servicios que ofrece LA PERLA (los "Servicios") dentro del sitio LA PERLA (en adelante el "Sitio Web"). Cualquier persona que pretenda hacer uso del Sitio Web o los Servicios podrá hacerlo sujetándose a los presentes Términos y Condiciones (las "Condiciones Generales"), como así también a toda otra política de uso que aplique al Sitio Web y que sea aquí referenciada.
                CUALQUIER PERSONA QUE NO ACEPTE ESTAS CONDICIONES GENERALES, LAS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO WEB Y/O LOS SERVICIOS.
            </p>

            <p>
                Pequeños Emprendimientos S.A.S. (con su marca "GRAN FERIA PEM"), titular del Sitio Web, se reserva el derecho de revisar estas Condiciones Generales en cualquier momento, actualizando y/o modificando esta página.
            </p>

            <div class="mt-xl m-l">
                <span class="btn btn-secondary back">Cancelar</span>
                <a class="btn btn-primary" href="../acceso/crear-cuenta-exito.html" target="_self">Aceptar</a>
            </div>
        </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $('.back').click(function(){
                    $('.nav-overlay').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                })
            });
        </script>
    </body>

</html>