<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insurrecto Wines: Malbec</title>
        <meta name="application-name" content="Insurrecto Wines">

        <meta name="description" content="El espíritu libre del viñedo."/>
        <meta property="og:title" content="Insurrecto Wines"/>
        <meta property="og:url" content="https://www.insurectowines.com"/>
        <meta property="og:description" content="El espíritu libre del viñedo." />
        <meta property="og:image" content="../static/img/webpage.jpg"/>
        <meta property="og:type" content="website"/>
        <meta property="og:locale:alternate" content="es_ES"/>

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/touch-icons/icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/touch-icons/icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/touch-icons/icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../static/img/favicon/icon_mediumtile.png">

        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/helpers.css">
    </head>

    <body class="ferment">
        <div class="container">
            <img class="hero-ferment desktop" src="../static/img/page-fermentacion/hero_desktop.jpg" alt="Fotografía de uvas en proceso de fermentación">
            <img class="hero-ferment mobile" src="../static/img/page-fermentacion/hero_mobile.jpg" alt="Fotografía de uvas en proceso de fermentación">

            <img class="logo-gray" src="../static/img/logo-gray.svg" alt="Logo insurrecto">

            <h2>Malbec</h2>
            <h3>Proceso de fermentación.</h3>

            <div class="content">
                <span class="text-label">Maduración</span>
                <p class="text-info">La maduración de las bayas para determinar el momento indicado de la cosecha, es realizado exclusivamente por degustación de las mismas. Esta degustación nos permite conocer la evolución y el equilibrio de cada uno de los componentes de la uva, en donde observamos la maduración de los taninos, el balance de la acidez con el azúcar, como así también, la facilidad de la extracción del color. Es decir, buscamos el momento preciso en donde el equilibrio entre cada componente ha llegado al punto óptimo.</p>
            </div>

            <div class="content">
                <span class="text-label">Selección y almacenamiento</span>
                <p class="text-info">En la bodega, realizamos una selección de racimos por medio de una cinta, llevamos a cabo un cuidadoso despalillado de manera de tener el grano lo más entero posible. Este proceso es finalizado por una selección manual de granos de manera de obtener la mejor calidad. Luego de esta ardua tarea, el 70% la materia prima seleccionada es llevada a un tanque de acero inoxidable, el otro 30% se apuesta en barricas de roble, lo que le va a aporta notas distintivas.</p>

                <p class="text-info">Una vez que las uvas son colocadas en sus recipientes, realizamos una maceración en frío a una temperatura promedio de 8°C, por 4 a 5 días, tanto en los tanques como en las barricas por medio de la utilización de hielo seco. Esto tiene como objetivo lograr extraer la mayor concentración de aromas, color y taninos en una fase en donde aún no hay alcohol. Finalizado este proceso inoculamos levaduras seleccionadas dándose inicio al proceso de fermentación. La temperatura, es uno de los parámetros fundamentales en la elaboración. Al iniciarse la fermentación, la temperatura comienza a aumentar y la mantendremos durante todo el proceso en 27°C.</p>
            </div>

            <div class="content">
                <span class="text-label">Fermentación</span>
                <p class="text-info">Durante la primera fase de la fermentación, utilizamos técnicas de remontajes y delestages de manera de lograr una extracción suave de taninos, una mayor concentración de color, lo que nos dará una complejidad asombrosa. En las barricas, el movimiento de rotación las mismas genera este mismo proceso. Al llegar a la mitad de la fermentación, prácticamente eliminamos los delestages y remontajes, como así también los giros de las barricas, para solamente hacer un pigaje muy delicado en los tanques y un giro de las barricas cada tanto, de manera de mantener mojado el sombrero.</p>

                <p class="text-info">Terminado el proceso fermentativo el vino se deja en contacto con los orujos por aproximadamente 15 días más, el que es determinado por medio de degustación diaria en los tanques.</p>
                
                <p class="text-info">Finalizada esta maceración, se procede a separar el vino del contacto con el grano tanto de las barricas como del tanque. Una vez obtenido el vino de cada origen realizamos el blend final. El 100% del vino se coloca en barricas de roble francés (30% en roble francés nuevo y 70% en roble francés de segundo uso) por un tiempo promedio de 12 meses. El tiempo total de contacto lo definimos por medio de degustaciones mensuales, es decir que definimos que un vino ya estuvo lo suficiente en barrica cuando se ha logrado que la fruta se amalgame perfectamente con las notas del roble y ha logrado la complejidad que buscamos. Este es un vino que no se clarifica ni se filtra. Las botellas permanecerán en las cavas subterráneas de la bodega, en un ambiente con temperatura y humedad controlada, en reposo por lo menos 12 meses antes de ser liberado al consumo.</p>

                <p class="text-info">Como se puede apreciar de la descripción de las tareas que realizamos, la elaboración de nuestros vinos es un trabajo que lleva mucha técnica enológica, pero a su vez, muchísimo arte, dedicación y pasión.</p>
            </div>
        </div>

        <footer>
        </footer>
        
        <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    </body>

</html>