<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insurrecto Wines: Blend</title>
        <meta name="application-name" content="Insurrecto Wines">

        <meta name="description" content="El espíritu libre del viñedo."/>
        <meta property="og:title" content="Insurrecto Wines"/>
        <meta property="og:url" content="https://www.insurectowines.com"/>
        <meta property="og:description" content="El espíritu libre del viñedo." />
        <meta property="og:image" content="../static/img/webpage.jpg"/>
        <meta property="og:type" content="website"/>
        <meta property="og:locale:alternate" content="es_ES"/>

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/touch-icons/icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/touch-icons/icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/touch-icons/icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../static/img/favicon/icon_mediumtile.png">

        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/helpers.css">
    </head>

    <body class="ferment">
        <div class="container">
            <img class="hero-ferment desktop" src="../static/img/page-fermentacion/hero_desktop.jpg" alt="Fotografía de uvas en proceso de fermentación">
            <img class="hero-ferment mobile" src="../static/img/page-fermentacion/hero_mobile.jpg" alt="Fotografía de uvas en proceso de fermentación">

            <img class="logo-gray" src="../static/img/logo-gray.svg" alt="Logo insurrecto">

            <h2>Blend Único</h2>
            <h3>Proceso de fermentación.</h3>

            <div class="content">
                <span class="text-label">Maduración</span>
                <p class="text-info">La determinación del momento óptimo de la cosecha se realizó exclusivamente por degustación de las bayas, en las cuales podemos apreciar la evolución de cada uno de los componentes: su acidez, el azúcar, y fundamentalmente la evolución de los taninos como así también la facilidad de extracción del color. El momento preciso de cosecha es cuando existe un balance entre cada uno de los elementos para este blend único.</p>
            </div>

            <div class="content">
                <span class="text-label">Selección y almacenamiento</span>
                <p class="text-info">Una vez que recepcionamos las uvas en la bodega, iniciamos una selección de racimos donde eliminamos aquellos que no están en perfectas condiciones para luego efectuar un cuidadoso despalillado, obteniéndose de esta forma granos enteros. Es en ese momento que realizamos una segunda selección manual, en esta oportunidad de “granos” para luego colocarlos directamente nuestras pequeñas vasijas de concreto revestidas con epoxi.</p>

                <p class="text-info">Cada variedad tiene una fecha de maduración distinta, es por ello que cada una debe ser cosechada y elaborada por separado.</p>

                <p class="text-info">Una vez que las uvas son colocadas en las vasijas, realizamos una maceración en frío a una temperatura entre los 8°C – 10°C por 4 días. Esto tiene como objetivo lograr extraer la mayor concentración de aromas, color y taninos en una fase en donde aún no hay alcohol.</p>

                <p class="text-info">Finalizado esto, inoculamos levaduras seleccionadas dándose inicio al proceso de fermentación. La temperatura, es uno de los parámetros fundamentales en la elaboración. La elevamos a 30°C para obtener aún más la extracción de color y taninos, favoreciendo también la complejidad y estructura; inmediatamente de llegar la temperatura a 30°C, refrigeramos y la mantenemos hasta el final de la fermentación a 27°C.</p>
            </div>

            <div class="content">
                <span class="text-label">Fermentación</span>
                <p class="text-info">Durante los primeros estadios de la fermentación alcohólica, combinamos técnicas de remontajes y delestages de manera de lograr una extracción suave de taninos, una mayor extracción de color y una complejidad sorprendente. Al llegar a la mitad de la fermentación, prácticamente eliminamos los delestages, para solamente hacer un remontaje muy delicado con el fin de mantener mojado el sombrero.</p>

                <p class="text-info">Terminado el proceso fermentativo, el vino se deja en contacto con los orujos por aproximadamente 15 días más, el que es determinado por medio de degustación diaria en los tanques.</p>
                
                <p class="text-info">Es aquí el momento sublime de realizar el corte definitivo que caracterizará a este blend y que por ellos lo llamamos único. Es el momento en donde, al finalizar la fermentación, degustamos y decidimos en qué porcentaje va a participar cada variedad en nuestro corte.</p>

                <p class="text-info">Una vez obtenido el blend único definitivo, el 100% del vino se coloca en barricas de roble francés, 90% en roble francés nuevo y 10% en roble francés de segundo uso, por un tiempo promedio de 16 meses. El tiempo total de contacto lo definimos por medio de degustaciones mensuales, alcanzado el tiempo óptimo, en el cual la fruta se ha amalgamado perfectamente con las notas del roble y ha logrado la complejidad que buscábamos. Es un vino que no se clarifica ni se filtra. Las botellas permanecerán, en un ambiente con temperatura y humedad controlada, en reposo por lo menos 12 meses antes de ser liberado al consumo.</p>
            </div>
        </div>

        <footer>
        </footer>
        
        <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
    </body>

</html>