<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insurrecto Wines: Malbec 2021</title>
        <meta name="application-name" content="Insurrecto Wines">

        <meta name="description" content="El espíritu libre del viñedo."/>
        <meta property="og:title" content="Insurrecto Wines"/>
        <meta property="og:url" content="https://www.insurectowines.com"/>
        <meta property="og:description" content="El espíritu libre del viñedo." />
        <meta property="og:image" content="../static/img/webpage.jpg"/>
        <meta property="og:type" content="website"/>
        <meta property="og:locale:alternate" content="es_ES"/>

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../static/img/favicon/touch-icons/icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../static/img/favicon/touch-icons/icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../static/img/favicon/touch-icons/icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../static/img/favicon/icon_mediumtile.png">

        <!-- Estilos -->
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/css/helpers.css">
    </head>

    <body>
        <div class="container">
        </div>

        <footer>
        </footer>
        
        <script type="text/javascript" src="../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../static/js/valida.js"></script>
    </body>

</html>