<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Privacidad: PawCard</title>
        <meta name="application-name" content="PawCard">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../static/img/favicon/icon_mediumtile.png">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body>
        <header>
            <a class="back" href="../../index.html" target="_self" title="Atrás"></a>
        </header>

        <div class="container">
            <h1>Privacidad de la información</h1>

            <p>
                Este acuerdo, tal como su nombre lo indica, describe los Términos y Condiciones Generales que regirán la utilización de los servicios que ofrece LA PERLA (los "Servicios") dentro del sitio LA PERLA (en adelante el "Sitio Web"). Cualquier persona que pretenda hacer uso del Sitio Web o los Servicios podrá hacerlo sujetándose a los presentes Términos y Condiciones (las "Condiciones Generales"), como así también a toda otra política de uso que aplique al Sitio Web y que sea aquí referenciada.
                CUALQUIER PERSONA QUE NO ACEPTE ESTAS CONDICIONES GENERALES, LAS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO WEB Y/O LOS SERVICIOS.
            </p>

            <p>
                Pequeños Emprendimientos S.A.S. (con su marca "GRAN FERIA PEM"), titular del Sitio Web, se reserva el derecho de revisar estas Condiciones Generales en cualquier momento, actualizando y/o modificando esta página.
            </p>
        </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $('.back').click(function(){
                    $('.nav-overlay').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                })
            });
        </script>
    </body>

</html>