<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard: PawCard</title>
        <meta name="application-name" content="PawCard">

        <!-- Iconos -->
        <link rel="icon" sizes="192x192" href="../../static/img/favicon/icon.png">

        <link rel="apple-touch-icon" href="../../static/img/favicon/ios-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/img/favicon/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/img/favicon/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/img/favicon/touch-icon-ipad-retina.png">

        <meta name="msapplication-wide310x150logo" content="../../static/img/favicon/icon_widetile.png">
        <meta name="msapplication-square310x310logo" content="../../static/img/favicon/icon_largetile.png">
        <meta name="msapplication-square70x70logo" content="../../static/img/favicon/icon_smalltile.png">
        <meta name="msapplication-square150x150logo" content="../../static/img/favicon/icon_mediumtile.png">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body>
        <nav class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <ul class="menu">
                <li>
                    <span class="active-bar"></span>
                    <a href="../../index.html" title="Home" target="_self">Home</a>
                </li>

                <li class="active">
                    <span class="active-bar"></span>
                    <a href="" title="Dashboard" target="_self">Dashboard</a>
                </li>

                <li>
                    <span class="active-bar"></span>
                    <a href="" title="PawCards" target="_self">PawCards</a>
                </li>

                <li>
                    <span class="active-bar"></span>
                    <a href="" title="Ajustes" target="_self">Ajustes</a>
                </li>
            </ul>            
        </nav>

        <header>
            <nav id="home-menu" class="menu"></nav>
        </header>

        <div class="container vh-100">
            <h1>Dashboard</h1>

            <div class="dashboard-menu-container">
                <ul class="dashboard-menu">
                    <li>
                        <a class="two-lines" href="pawcards/crear/pawcard-crear.html" target="_self">
                            <span class="menu-text">
                                Crear
                                <span class="block">
                                    PawCard
                                </span>
                            </span>
                        </a>
                    </li>

                     <li>
                        <a class="two-lines" href="../calendario.html" target="_self">
                            <span class="menu-text">
                                Calendario
                                <span class="block">
                                    de vacunas
                                </span>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="ajustes/ajustes.html" target="_self">
                            Ajustes
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
            <ul>
                <li>
                    <a href="#" target="_self">
                        <span>
                            Privacidad <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="../legal/terminos-inner.html" target="_self">
                        <span>
                            Términos y condiciones <span class="icon arrow-next"></span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" target="_self">
                        <span>
                            Uso de cookies <span class="icon open-ext"></span>
                        </span>
                    </a>
                </li>

                 <li>
                    <a href="#" target="_self">
                        <span>
                            Reportar un problema <span class="icon open-ext"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>

        <script type="text/javascript">
            $(function() {
                $('#home-menu').click(function(){
                    $('.nav-overlay').addClass('active');
                });

                $('.nav-overlay').click(function(){
                    $(this).removeClass('active');
                })
            });
        </script>
    </body>

</html>