<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nueva PawCard: Piur</title>
        <meta name="application-name" content="Caracol">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">
    </head>

    <body>
        <nav class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <div class="cta">
                <a class="btn btn-primary m-m" href="views/acceso/ingresar.html" target="_self" title="Ingresar">Ingresar</a>
                <a class="btn btn-primary" href="views/acceso/crear-cuenta.html" target="_self" title="Crear cuenta">Crear cuenta</a>
            </div>
        </nav>

        <header>
            <a class="step-1 back" href="dashboard.html" target="_self" title="Atrás"></a>
            <span class="step-2 back hidden" title="Atrás"></span>
        </header>

        <div class="container">
            <div class="step-1">
                <h1 class="inner">Tocá para elegir una opción</h1>

                <div class="pawcard-size-container">
                    <ul class="pawcard-size">
                        <li class="size-selector big">
                            <span>Raza grande</span>
                        </li>

                        <li class="size-selector med">
                            <span>Raza mediana</span>
                        </li>

                        <li class="size-selector small mr-0">
                            <span>Raza pequeña</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="step-2 hidden">
                <h1 class="inner m-l">Ubicación</h1>
                <p class="text-center m-xl">Esta información no se va a <br> mostrar públicamente.</p>

                <select class="empty" id="select-provincia" name="select-provincia">
                    <option selected>Provincia</option>
                    <option value="mendoza">Mendoza</option>
                    <option value="sanluis">San Luis</option>
                </select>
            </div>
        </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>

         <script type="text/javascript">
            $(function() {

                // Elegir Raza
                $('.pawcard-size-container').scrollLeft(200);

                $('.size-selector, span.step-2').click(function(){
                    $('.step-1, .step-2').toggleClass('hidden');
                });

                // Select
                $('#select-provincia').on('change', function() {
                    if ($(this).val() == 'Provincia'){
                        $(this).addClass('empty');

                    } else {
                        $(this).removeClass('empty');
                    }
                });
            });
        </script>
    </body>

</html>