<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PawCard creada: Piur</title>
        <meta name="application-name" content="Piur">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body class="background-plain">

        <div class="container">
            <h1 class="inner m-xl">¡Todo listo!</h1>

            <div class="uploaded-mask">
                <span class="mask"></span>
                <span class="photo"></span>
            </div>

            <p class="confirmation-name">Igor</p>

            <div class="bottom text-center">
                <a class="btn btn-primary m-l" href="#" target="_self">Abrir pawcard</a>
            </div>
        </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>
    </body>

</html>