<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nueva PawCard: Piur</title>
        <meta name="application-name" content="Piur">

        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/inputs.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/helpers.css">

        <meta name="theme-color" content="D7CFB9">
    </head>

    <body class="background-plain">
        <nav class="nav-overlay">
            <span class="close" title="Cerrar"></span>

            <div class="cta">
                <a class="btn btn-primary m-m" href="views/acceso/ingresar.html" target="_self" title="Ingresar">Ingresar</a>
                <a class="btn btn-primary" href="views/acceso/crear-cuenta.html" target="_self" title="Crear cuenta">Crear cuenta</a>
            </div>
        </nav>

        <header>
            <a class="back step-size" href="dashboard.html" target="_self" title="Atrás"></a>
            <span class="back step-data hidden" title="Atrás"></span>
            <span class="back step-photo hidden" title="Atrás"></span>
            <span class="back step-location hidden" title="Atrás"></span>
        </header>

        <div class="container">

            <!-- Size -->
            <div id="step-size">
                <h1 class="inner">Tocá una opción para avanzar</h1>

                <div class="pawcard-size-container">
                    <ul class="pawcard-size">
                        <li class="size-selector big">
                            <span>Raza grande</span>
                        </li>

                        <li class="size-selector med">
                            <span>Raza mediana</span>
                        </li>

                        <li class="size-selector small mr-0">
                            <span>Raza pequeña</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Data -->
            <div id="step-data" class="hidden">
                <h1 class="inner m-l">Datos</h1>
                <p class="text-center m-xl">Esta es la información que se va a mostrar en la PawCard.</p>

                <div class="input-group pawcardname mr-m">
                    <label class="input-label" for="pawCardName">Nombre *</label>
                    <input class="input-text" type="text" id="pawCardName" name="pawCardName">
                </div>

                <div class="input-group pawcardemail">
                    <label class="input-label" for="pawCardAge">Edad</label>
                    <input class="input-text" type="number" id="pawCardAge" name="pawCardAge">
                </div>

                <select class="empty" id="select-gen" name="select-gen">
                    <option selected>Género</option>
                    <option value="macho">Macho</option>
                    <option value="hembra">Hembra</option>
                </select>

                <div class="input-group m-s">
                    <label class="input-label" for="pawCardContact">Teléfono de contacto *</label>
                    <input class="input-text" type="tel" id="pawCardContact" name="pawCardContact">
                </div>

                <p class="helper-text">(*) Campos requeridos para continuar.</p>

                <button class="btn btn-primary btn-next" type="button">Siguiente</button>
            </div>

            <!-- Foto -->
            <div id="step-photo" class="hidden">
                <h1 class="inner m-l">Foto de perfil</h1>
                <p class="text-center m-xl">Tocá "Subir foto" para buscar en tus archivos, ó usa la cámara.</p>

                <div class="text-center">
                    <img class="mt-m" id="upload-photo" src="../../static/img/pawcard/upload-photo.jpg" title="Subir foto">
                </div>

                <a class="btn btn-link bottom" href="#" target="_self">Abrir la cámara</a>

            </div>

            <!-- Ubicación -->
            <div id="step-location" class="hidden">
                <h1 class="inner m-l">Ubicación</h1>
                <p class="text-center m-xl">Esta información no se va a <br> mostrar públicamente.</p>

                <select class="empty" id="select-provincia" name="select-provincia">
                    <option selected>Provincia</option>
                    <option value="mendoza">Mendoza</option>
                    <option value="sanluis">San Luis</option>
                </select>

                <select class="empty" id="select-localidad" name="select-localidad">
                    <option selected>Localidad</option>
                    <option value="mendoza">Godoy cruz</option>
                    <option value="sanluis">Luján de cuyo</option>
                </select>

                <button class="btn btn-primary btn-next mr-m" type="button">Siguiente</button>
                <span class="btn btn-secondary pl-s pr-s">Omitir</span>
            </div>

            <!-- Resumen -->
            <div id="confirmation" class="hidden">
                <h1 class="inner">¡Todo listo!</h1>

                <div class="uploaded-mask">
                    <span class="mask"></span>
                    <span class="photo"></span>
                </div>

                <p class="confirmation-name">Igor</p>

                <div class="bottom text-center">
                    <a class="btn btn-primary" href="#" target="_self">Abrir pawcard</a>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../static/js/inputs.js"></script>

         <script type="text/javascript">
            $(function() {

                // Elegir Raza
                $('.pawcard-size-container').scrollLeft(200);

                // Steps
                $('.size-selector').click(function(){
                    $('#step-size, header .step-size').addClass('hidden');
                    $('#step-data, header .step-data').removeClass('hidden');
                });

                $('header .step-data').click(function(){
                    $('#step-size, header .step-size').removeClass('hidden');
                    $('#step-data, header .step-data').addClass('hidden');
                });

                $('#step-data .btn-next').click(function(){
                    $('#step-data, header .step-data').addClass('hidden');
                    $('#step-photo, header .step-photo').removeClass('hidden');
                });

                $('header .step-photo').click(function(){
                    $('#step-data, header .step-data').removeClass('hidden');
                    $('#step-photo, header .step-photo').addClass('hidden');
                });

                $('#upload-photo').click(function(){
                    $('#step-photo, header .step-photo').addClass('hidden');
                    $('#step-location, header .step-location').removeClass('hidden');
                });

                $('header .step-location').click(function(){
                    $('#step-photo, header .step-photo').removeClass('hidden');
                    $('#step-location, header .step-location').addClass('hidden');
                });

                $('#step-location .btn-next').click(function(){
                    $('#step-location, header .step-location').addClass('hidden');
                    $('#confirmation').removeClass('hidden');
                });

                // Select
                $('#select-provincia').on('change', function() {
                    if ($(this).val() == 'Provincia'){
                        $(this).addClass('empty');

                    } else {
                        $(this).removeClass('empty');
                    }
                });
            });
        </script>
    </body>

</html>