@charset "UTF-8";

/* 
	1. Bases
==============================
*/

@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url(../fonts/AbhayaLibre-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'AbhayaLibre-Medium';
    src: url(../fonts/AbhayaLibre-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'AbhayaLibre-ExtraBold';
    src: url(../fonts/AbhayaLibre-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'Almarai';
    src: url(../fonts/Almarai-Regular.ttf) format(truetype);
}

:root {
    font-family: 'AbhayaLibre-Regular', serif;
    color: #000000;

    /* Colors */
    --light: #E1E1E1;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 24px;
    --XL: 32px;
    --XXL: 40px;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a, button, .link {
    cursor: pointer;
    color: #000000;
    border: 0;
    outline: none;
    text-decoration: none;
}

a, .link {
    border-bottom: 1px solid #000000;
}

p {
    font-family: 'AbhayaLibre-Regular', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: var(--L);
}

img:focus,
button:focus {
    outline: none;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 20;
    height: 100vh;
    width: 100%;
    background: rgba(236, 236, 236, 0.7);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.modal-container {
    position: fixed;
    top: 80px;
    z-index: 21;
    padding: 60px 40px 40px 40px;
    left: 50%;
    margin-left: -20%;
    background-color: #FFFFFF;
    border-radius: var(--L);
    width: 100%;
    max-width: 560px;
}

.modal-container h3 {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    width: 100%;
}

.modal-container .photo {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin-bottom: var(--L);
    background-color: #E1E1E1;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-container .divider {
    width: 100%;
    height: 1px;
    display: block;
    background-color: #E1E1E1;
}

.btn {
    padding: 18px 26px;
    font-size: 20px;
    line-height: 20px;
    width: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-family: 'AbhayaLibre-ExtraBold', serif;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #000000;
    transition: all 0.2s ease;
}

.btn .black {
    display: block;
}

.btn .white {
    display: none;
}

.btn:hover {
    color: #FFFFFF;
    box-shadow: inset 200px 0 0 0 #000000;;
}

.btn:hover .black {
    display: none;
}

.btn:hover .white {
    display: block;
}

.btn img {
    margin: 0 var(--S) -3px 0;
    float: left;
}

/* 
    Wrappers
    --------
*/

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 var(--M);
    margin: 180px auto 0 auto;
}

/* 
    Content
    --------
*/

h2, h3 {
    text-align: center;
}

h2 {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    font-size: 50px;
    margin-bottom: var(--L);
}

h2.small {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: var(--L);
    font-family: 'AbhayaLibre-Regular', serif;
    font-weight: 100;
}

section.age {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: all 0.6s ease;
}

section.age.valid {
    background-color: #FFFFFF;
    transition: all 0.6s ease;
}

section.age .logo {
    width: 150px;
    margin: 150px auto 0 auto;
}

section.age .question {
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    margin: 50px auto 0 auto;
}

section.age .statement {
    color: #CCCCCC;
    width: 100%;
    max-width: 280px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: var(--M) auto 0 auto;
}

.switcher {
    width: 350px;
    height: 60px;
    position: relative;
    z-index: 11;
    margin: 45px auto 0 auto;
}

.switcher .option {
    font-family: 'Almarai', sans-serif;
    color: #888888;
    background-color: #000000;
    font-size: 16px;
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 12;
    top: 6px;
    right: 16px;
    line-height: 48px;
    border-radius: 48px;
    height: 48px;
    width: 64px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 35px;
    background-image: url(../img/icons/icon-chevronnext.svg);
    background-position: right 0px center;
}

.switcher .option.left {
    text-align: right;
    right: auto;
    left: 16px;
    background-image: url(../img/icons/icon-chevronprev.svg);
    background-position: left 0px center;
}

.switcher .switch {
    border: 2px solid #292929;
    width: 100%;
    padding: 6px;
    border-radius: 60px;
}

.valid .switcher .switch {
    border-color: #FFFFFF;
    transition: all 0.6s ease;
}

.valid .switcher .option {
    color: #FFFFFF;
    background: #FFFFFF;
    transition: all 0.6s ease;
}

.switch .handle {
    display: block;
    cursor: grab;
    border: 3px solid #FFFFFF;
    height: 45px;
    width: 45px;
    z-index: 14;
    left: calc(50% - 22px);
    border-radius: 45px;
    transition: all 0.2s ease;
}

.switch .handle.no {
    left: 0 !important;
}

.switch .handle.yes {
    left: calc(100% - 98px)!important;
}

.switch .handle:active {
    width: 45px !important;
}

.inactive {
    opacity: 0;
    transition: all 1s ease;
}

.logo {
    margin: 0 auto;
    display: block;
    width: 240px;
    transition: all 2s ease;
}

.hero {
    margin: 100px auto 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transition: all 2s ease;
}

.hero .hero-image {
    margin-top: 60px;
    width: 100%;
}

.hero .hero-image.mobile {
    width: calc(100% - var(--M));
}

.tree {
    margin: 120px auto 0 auto;
}

.tab-container {
    position: relative;
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid var(--light);
    justify-content: center;
    margin-bottom: var(--XL);
}

.tab-container .item {
    font-size: 22px;
    padding: var(--L) 0;
    margin: 0 var(--L);
    float: left;
    text-align: center;
    color: #888888;
    cursor: pointer;
}

.tab-container .item.active {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    color: #000000;
    cursor: default;
    transition: all 0.2s ease;
}

.tab-container .marker {
    position: absolute;
    display: block;
    height: 3px;
    bottom: 0;
    background-color: #000000;
    transition: all 0.2s ease;
}

.tab-container .marker.tab-malbec {
    width: 66px;
    left: calc(50% - 84px);
}

.tab-container .marker.tab-blend {
    width: 52px;
    left: calc(50% + 32px);
}

.text-label {
    font-family: 'Almarai', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-bottom: var(--S);
    line-height: var(--M);
    color: #909090;
}

.text-info {
    font-family: 'AbhayaLibre-Medium', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

/* 
    Nuestros vinos
    --------------
*/

.wine-details {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.wine-details.active {
    opacity: 1;
    padding: 60px 0 0 0;
    min-height: 1060px;
    height: auto;
}

.wine-details#malbec-2021 {
    background-image: url(../img/section-nuestrosvinos/malbec-2021_desktop.jpg);
}

.wine-details#blend-2021 {
    background-image: url(../img/section-nuestrosvinos/malbec-2021_desktop.jpg);
}

.wine-details h4 {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    width: 400px;
    font-size: var(--XXL);
    line-height: 50px;
    margin-bottom: 60px;
}

.wine-details .left-side,
.wine-details .right-side {
    width: 50%;
    float: left;
}

.wine-details .right-side {
    margin-top: 190px;
}

.wine-details .right-side .text-content,
.wine-details .stats {
    width: 300px;
}

.wine-details .stats {
    float: right;
}

.wine-details .stats .bars {
    margin-bottom: var(--XXL);
}

.wine-details .stats a {
    font-size: 18px;
    display: inline-block;
}

.text-content {
    max-width: 400px;
    clear: both;
    display: flex;
    margin-bottom: 44px;
}

.text-content li {
    width: 50%;
    float: left;
}

.year-selector {
    margin: -40px auto 20px auto;
    text-align: center;
    width: 100%;
    height: 50px;
}

.year-selector .btn {
    color: #909090;
    display: inline;
    border-color: #E1E1E1;
    padding: 12px 24px;
    transition: all 0.6s ease;
}

.year-selector .active {
    color: #000000;
    border-color: #000000;
    cursor: default;
}

.year-selector .btn:hover {
    box-shadow: inset 0 0 0 0 #FFFFFF;
}

/* 
    Nosotros
    --------
*/

article.contact,
article.news {
    margin: 60px 0 150px 0;
    width: 50%;
    height: 250px;
    padding: 50px 70px;
    float: left;
    border: 1px solid var(--light);
}

article.news .new {
    display: flex;
    flex-direction: row;
}

article.contact {
    border-right: 0;
}

article.contact .social-networks .link {
    border: 0;
    margin: 0 18px;
}

article.contact .photo,
article.news .photo {
    width: 110px;
    height: 110px;
    margin-right: var(--L);
    border-radius: 55px;
    background-color: #E1E1E1;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

article.contact .text-label,
article.news .text-label {
    font-size: var(--M);
    margin: 0 0 10px 0;
}

article.news .photo {
    background-size: cover;
}

article.contact .photo,
#subsidiaries .photo {
    background-image: url(../img/section-nosotros/contact-logo.svg);
    background-color: #000000;
}

article.news #new-1 .photo,
#modal-new-1 .photo {
    background-image: url(../img/section-nosotros/new-1.jpg);
    background-color: #000000;
}

article.news .text-info {
    width: calc(100% - 180px);
    margin: 0;
}

article.news .details {
    display: block;
    width: 100%;
    min-width: 278px;
    margin-bottom: var(--M);
    max-height: 78px;
    overflow-y: hidden;
}

article.news .read-more {
    font-family: 'Almarai', sans-serif;
    line-height: 20px;
    display: inline-block;
    font-size: var(--M);
    cursor: pointer;
    min-width: 66px;
    border-bottom: 1px solid #000000;
}
/* 
    Vineyards
    ---------
*/

section.vineyards .content {
    margin: 60px auto 80px auto;
    width: 820px;
}

section.vineyards .map {
    margin: 80px auto;
}

article.performance {
    border: 1px solid #E1E1E1;
    width: 50%;
    float: left;
    margin: 40px 0 120px 0;
    padding: 70px 50px;
    text-align: left;
    height: 290px;
}

article.performance img {
    width: 100%;
}

article.performance.left {
    border-right: 0;
}

article.performance .text-label,
article.performance .text-info {
    width: 100%;
}

/* 
    Discover
    ---------
*/

section.discover .pairing {
    width: 50%;
    float: left;
    margin: 80px 0 60px 0;
}

section.discover .pairing .pairing-container {
    width: calc(100% - 40px);
    height: 460px;
    position: relative;
    padding: 50px;
    margin: 0 auto;
    border: 1px solid #E1E1E1;
}

section.discover .pairing .pairing-container .pagination {
    left: 40px;
    width: calc(100% - 90px);
    height: 36px;
    position: absolute;
    bottom: var(--XL);
}

section.discover .pairing .arrows {
    float: left;
    width: 80px;
}

section.discover .pairing .arrows .prev {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    float: left;
    cursor: pointer;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/icon-prev.svg);
}

section.discover .pairing .arrows .next {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    float: right;
    cursor: pointer;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/icon-next.svg);
}

section.discover .pairing .arrows .prev:hover,
section.discover .pairing .arrows .next:hover {
    background-color: #F1F1F1;
}

section.discover .pairing .steps {
    display: block;
    float: right;
    color: #909090;
    height: 36px;
    line-height: 36px;
    font-family: 'Almarai', sans-serif;
}

section.discover .pairing .text-label {
    font-size: 16px;
}

section.discover .pairing .photo {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin-bottom: var(--L);
    background-color: #E1E1E1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.discover .content {
    width: 630px;
    margin: 0 auto;
}

section.discover .pairing h3 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: var(--XXL);
    font-family: 'AbhayaLibre-ExtraBold', serif;
}

section.discover .pairing #pair-malbec-1 .photo {
    background-image: url(../img/section-discover/pair-malbec-1.jpg);
}

section.discover .pairing #pair-malbec-2 .photo {
    background-image: url(../img/section-discover/pair-malbec-2.jpg);
}

section.discover .pairing #pair-malbec-3 .photo {
    background-image: url(../img/section-discover/pair-malbec-3.jpg);
}

section.discover .pairing #pair-malbec-4 .photo {
    background-image: url(../img/section-discover/pair-malbec-4.jpg);
}

section.discover .pairing #pair-blend-1 .photo {
    background-image: url(../img/section-discover/pair-blend-1.jpg);
}

section.discover .pairing #pair-blend-2 .photo {
    background-image: url(../img/section-discover/pair-blend-2.jpg);
}

section.discover .pairing #pair-blend-3 .photo {
    background-image: url(../img/section-discover/pair-blend-3.jpg);
}

section.discover .pairing #pair-blend-4 .photo {
    background-image: url(../img/section-discover/pair-blend-4.jpg);
}

article.spotify {
    width: calc(100% - 32px);
    height: 474px;
    margin: 0 auto 80px auto;
    clear: both;
    position: relative;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/section-discover/spotify_desktop.jpg);
}

article.spotify .foot {
    width: 100%;
    height: 76px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #523828;
    color: #FFFFFF;
}

article.spotify .foot p {
    font-size: 16px;
    line-height: 76px;
    font-family: 'Almarai', sans-serif;
}

article.spotify .foot p a {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* 
    Fermentación
    ------------
*/

body.ferment .container {
    margin-top: 80px;
}

body.ferment .hero-ferment {
    width: 100%;
}

.logo-gray {
    display: block;
    margin: 90px auto 60px auto;
}

body.ferment h3 {
    margin-bottom: 80px;
}

body.ferment .content {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0 auto;
}

body.ferment .text-label {
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: var(--L);
    border-bottom: 1px solid #E1E1E1;
}

footer {
    background-color: #000000;
    padding: 140px 0;
    width: 100%;
}









/* 
    Responsive
    ----------
*/

.desktop {display: block !important}
.mobile {display: none !important}


@media only screen and (max-width: 960px) {

    .desktop {display: none !important}
    .mobile {display: block !important}

    .btn {
        width: 100%;
    }

    /* 
        Wrappers
        --------
    */

    .container {
        margin: 130px auto 0 auto;
    }

    /* 
        Content
        --------
    */

    .modal-container {
        top: var(--L);
        left: var(--M);
        margin-left: 0;
        padding: var(--XL);
        width: calc(100% - 32px);
    }

    section.age .logo {
        width: 112px;
        margin-top: 150px;
    }

    h2 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: var(--L);
    }

    .logo {
        width: 166px;
    }

    .hero {
        margin-top: 100px;
    }

    /* 
        Nuestros vinos
        --------------
    */

    .wine-details#malbec-2021,
    .wine-details#blend-2021 {
        background-image: none;
    }

    .wine-details {
        width: 100%;
        overflow-x: scroll;
    }

    .wine-details.active {
        padding: 30px 0 0 0;
        min-height: auto;
    }

    .wine-details .left-side, 
    .wine-details .right-side {
        width: 33%;
        float: left;
        margin: 0;
    }

    .wine-details .wine-content {
        width: 300%;
    }

    .wine-details .wine-bottle {
        float: left;
        width: 33%;
        height: 570px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center bottom;
        background-image: url(../img/section-nuestrosvinos/malbec-2021_mobile.jpg);
    }

    .wine-details h4 {
        font-size: 30px;
        line-height: 36px;
        width: 100%;
        max-width: 320px;
    }

    .stepper {
        width: 100%;
        height: 27px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: var(--XL) 0 120px 0;
    }

    .stepper .step {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        border: 2px solid #000000;
        margin: 0 10px;
        position: relative;
    }

    .stepper .active .marker {
        display: block;
        width: 27px;
        height: 27px;
        border-radius: 27px;
        position: absolute;
        top: -8px;
        left: -8px;
        border: 2px solid #E1E1E1;
    }

    .wine-details .text-content:last-child {
        margin-bottom: 0;
    }

    /* 
        Nosotros
        --------
    */

    article.contact .social-networks {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    article.contact, article.news {
        width: 100%;
        padding: 50px 30px;
        height: auto;
        margin-bottom: 110px;
    }

    article.contact .photo, article.news .photo {
        width: 70px;
        height: 70px;
        margin: 0;
    }

    article.news .new {
        display: block;
    }

    article.news .text-label {
        margin-top: var(--L);
    }

    article.contact {
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 0;
        padding: 30px 0 0 0;
    }

    article.contact .text-label,
    article.contact .text-info,
    article.news .text-label,
    article.news .text-info {
        width: 100%;
    }

    article.contact .photo {
        background-size: 40px auto;
        margin: 0 auto var(--L) auto;
    }

    /* 
        Vineyards
        ---------
    */

    section.vineyards .content {
        width: 100%;
    }

    section.vineyards .map {
        width: calc(100% - 32px);
        max-width: 420px;
    }

    article.performance {
        width: 100%;
        padding: 30px var(--XL);
        height: auto;
        margin-bottom: 0;
        float: none;
    }

    article.performance.right {
        margin-top: 0;
        margin-bottom: 110px;
        border-top: 0;
    }

    article.performance.left {
        border-right: 1px solid #E1E1E1;
    }

    article.performance .mobile {
        width: 100%;
        max-width: 360px;
    }

    /* 
        Discover
        ---------
    */

    section.discover .content {
        width: 100%;
    }

    section.discover .pairing {
        width: 100%;
        padding: 0;
        margin: 40px 0 30px 0;
        float: none;
    }

    section.discover .pairing .pairing-container {
        height: auto;
        width: 100%;
        padding: 30px 30px 70px 30px;
    }

    section.discover .pairing .pairing-container .pagination {
        left: 24px;
        width: calc(100% - 54px);
    }

    section.discover .pairing .photo {
        width: 70px;
        height: 70px;
    }

    article.spotify {
        width: 100%;
        height: 540px;
        background-image: url(../img/section-discover/spotify_mobile.jpg);
        background-size: cover;
    }

    /* 
        Fermentación
        ------------
    */

    body.ferment .container {
        margin-top: var(--M);
    }

    .logo-gray {
        margin: 40px auto;
    }

    body.ferment h3 {
        margin-bottom: 40px;
    }

}
