@charset "UTF-8";


/* 
	1. Bases
==============================
*/

@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: url(../fonts/AbhayaLibre-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'AbhayaLibre-Medium';
    src: url(../fonts/AbhayaLibre-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'AbhayaLibre-ExtraBold';
    src: url(../fonts/AbhayaLibre-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: 'Almarai';
    src: url(../fonts/Almarai-Regular.ttf) format(truetype);
}

:root {
    font-family: 'AbhayaLibre-Regular', serif;
    color: #000000;

    /* Colors */
    --light: #E1E1E1;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 24px;
    --XL: 32px;
    --XXL: 40px;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a, button {
    cursor: pointer;
    color: #000000;
    border: 0;
    outline: none;
    text-decoration: none;
}

p {
    font-family: 'AbhayaLibre-Regular', serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: var(--L);
}

img:focus,
button:focus {
    outline: none;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;
}

.btn {
    padding: 18px 26px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'AbhayaLibre-ExtraBold', serif;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

.btn.buy {
    padding: 18px 26px 18px 48px;
    background-position: left 22px center;
    background-repeat: no-repeat;
    background-image: url(../img/icon-cart.svg);
}

/* 
    Wrappers
    --------
*/

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 var(--M);
    margin: 0 auto;
}

/* 
    Content
    --------
*/

h2, h3 {
    text-align: center;
}

h2 {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    font-size: 50px;
    margin-bottom: var(--L);
}

h2.small {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: var(--L);
    font-family: 'AbhayaLibre-Regular', serif;
    font-weight: 100;
}

.hero {
    margin: 390px auto 120px auto;
    justify-content: center;
    text-align: center;
}

.hero .hero-image {
    margin-top: var(--XXL);
    width: 100%;
}

.hero .hero-image.mobile {
    width: calc(100% - var(--M));
}

.tab-container {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid var(--light);
    justify-content: center;
    margin-bottom: var(--XL);
}

.tab-container .item {
    font-size: 22px;
    padding: var(--L) 0;
    margin: 0 var(--L);
    float: left;
    text-align: center;
    color: #888888;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tab-container .item.active {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    color: #000000;
    cursor: default;
    border-color: #000000;
}

.text-label {
    font-family: 'Almarai', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-bottom: var(--S);
    line-height: var(--M);
    color: #909090;
}

.text-info {
    font-family: 'AbhayaLibre-Medium', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

/* 
    Nuestros vinos
    --------------
*/

.wine-details {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    padding: 60px 0 0 0;
    min-height: 1060px;
}

.wine-details#malbec-2021 {
    background-image: url(../img/nuestrosvinos/malbec-2021.jpg);
}

.wine-details h4 {
    font-family: 'AbhayaLibre-ExtraBold', serif;
    width: 400px;
    font-size: var(--XXL);
    line-height: 50px;
    margin-bottom: 60px;
}

.wine-details .left-side,
.wine-details .right-side {
    width: 50%;
    float: left;
}

.wine-details .right-side {
    margin-top: 70px;
}

.wine-details .right-side .text-content,
.wine-details .stats {
    width: 300px;
}

.wine-details .stats {
    float: right;
}

.wine-details .stats .bars {
    margin-bottom: var(--XXL);
}

.wine-details .stats a {
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid #000000;
}

.text-content {
    max-width: 400px;
    clear: both;
    display: flex;
    margin-bottom: 44px;
}

.text-content li {
    width: 50%;
    float: left;
}

/* 
    Nosotros
    --------
*/

article.contact,
article.news {
    margin: 60px 0 150px 0;
    width: 50%;
    height: 220px;
    padding: 50px 70px;
    float: left;
    border: 1px solid var(--light);
}

article.contact {
    border-right: 0;
}

article.contact .photo,
article.news .photo {
    width: 110px;
    height: 110px;
    margin-right: var(--L);
    border-radius: 55px;
    background-color: #E1E1E1;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

article.contact .text-label,
article.news .text-label {
    font-size: var(--M);
    margin: 0 0 10px 0;
}

article.news .photo {
    background-size: cover;
}

article.contact .photo {
    background-image: url(../img/nosotros/contact-logo.svg);
    background-color: #000000;
}

article.news #new-1 .photo {
    background-image: url(../img/nosotros/new-1.jpg);
    background-color: #000000;
}

article.news .read-more {
    font-family: 'Almarai', sans-serif;
    display: inline-block;
    font-size: var(--M);
    margin-top: var(--M);
    cursor: pointer;
    border-bottom: 1px solid #000000;
}

/* 
    Vineyards
    ---------
*/

section.vineyards .content {
    margin: 60px auto 80px auto;
    width: 820px;
}

section.vineyards .map {
    margin: 80px auto;
    display: block;
}

article.performance {
    border: 1px solid #E1E1E1;
    width: 50%;
    float: left;
    margin: 40px 0 120px 0;
    padding: 70px 50px;
    text-align: left;
}

article.performance.left {
    border-right: 0;
}

article.performance .text-label,
article.performance .text-info {
    width: 100%;
}

/* 
    Discover
    ---------
*/

section.discover .content {
    width: 630px;
    margin: 0 auto;
}
