@charset "UTF-8";


/* 
	1. Bases
==============================
*/

@font-face {
    font-family: 'Unbounded-Light';
    src: url(../fonts/Unbounded-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Regular';
    src: url(../fonts/Unbounded-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Unbounded-Medium';
    src: url(../fonts/Unbounded-Medium.ttf) format(truetype);
}

:root {
    font-family: 'Unbounded-Regular', sans-serif;

    /* Sizing */
    --S: 8px;
    --M: 16px;
    --L: 24px;
    --XL: 32px;
    --XXL: 40px;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    cursor: pointer;
}

img:focus,
button:focus {
    outline: none;
}

img {display: inline-block}
  
html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;
}

/* 
    Wrappers
    --------
*/

.container {
    padding: var(--M);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
