/* 
==============================
    Buttons
==============================
*/

.btn {
    display: inline-block;
    width: auto;
    padding: 0 var(--XL);
    color: var(--black);
    height: 60px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    font-size: var(--M);
    border: 0;
    text-decoration: none;
    font-family: 'Unbounded-Medium', sans-serif;
    cursor: pointer;
    transition: ease-out 0.4s;
}

.btn-primary {
    background-color: var(--black);
    color: var(--white);
    box-shadow: inset 0 0 0 0 var(--white);
}

.btn.start:hover {
    box-shadow: inset 300px 0 0 0 var(--white);
    color: var(--black);
    padding: 0 32px;

}

.btn-secondary {
    background-color: transparent;
    color: var(--black);
}

.btn:disabled,
.btn[disabled]{
  color: #837D73;
  background-color: rgba(31, 31, 31, 0.12);
}

.btn-link {
    text-transform: none;
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
}

/* Recuperar contraseña */
.bottom {
    position: absolute;
    bottom: var(--L);
    left: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
}

/* 
==============================
    Inputs
==============================
*/


.input-group {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-group.pawcardemail {
    float: left;
    width: 82px;
}

.input-group.pawcardname {
    float: left;
    width: calc(100% - 98px);
}

.input-error {
    display: inline-block;
    width: 100%;
    padding: var(--M) 80px var(--M) var(--M);
    background-color: rgba(211, 47, 47, 0.1);
    color: #D32F2F;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: var(--L);
    background-image: url(../img/icons/input-error.svg);
    background-repeat: no-repeat;
    background-position: right var(--M) top var(--M);
}

.input-group .input-label {
    cursor: pointer;
    font-size: var(--M);
    position: absolute;
    bottom: 24px;
    padding: 0 10px;
    left: 0;
    height: 56px;
    line-height: 56px;
    width: 100%;
    color: #9E957D;
    transition: all 0.3s ease;
}

.input-group.active .input-label {
    cursor: default;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    bottom: auto;
    top: 0;
    transition: all 0.3s ease;
}

input {
    caret-color: var(--black);
}

.input-text, select {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: var(--L);
    font-size: var(--M);
    color: var(--black);
    border-bottom: 1px solid var(--black);
    font-family: 'Unbounded-Regular', sans-serif;
    outline: none;
    background-color: transparent;
}

.input-text.password {
    background-image: url(../img/icons/pass-hide.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

p.helper-text {
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 var(--L) 0;
}

.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-container .select-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 0 10px;
    z-index: 2;
    background-color: transparent;
    width: calc(100% - 50px);
    color: #9E957D;
    pointer-events: none;

}

.select-container.empty .select-label {
    font-size: 16px;
    line-height: 56px;
    height: 54px;
    background-color: var(--primary);
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url(../img/icons/arrow-dropdown.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.select-container.teltype {
    width: 130px;
    margin-right: 16px;
    float: left;
}

option.option-default {
    color: transparent;
}

